@model List<EfDbCoreFirst.Models.Brand>

@{
    ViewBag.Title = "Brands";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h2>Brands</h2>
<table class="table">
    <tr>
        <th>Brand Id</th>
        <th>Brand Name</th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>@i.BrandID</td>
            <td>@i.BrandName</td>
        </tr>
    }
</table>


