@model List<EfDbCoreFirst.Models.Category>

@{
    ViewBag.Title = "Categories";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayoutPage1.cshtml";
}

<h2>Categories</h2>
<table class="table">
    <tr>
        <th>Category Id</th>
        <th>Category Name</th>
    </tr>

    @foreach (var i in Model)
    {
        <tr>
            <td>@i.CategoryID</td>
            <td>@i.CategoryName</td>
        </tr>
     }
        


    </table>
